[Unit]
Description=Solana TdS Validator
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
LimitNOFILE=1024000
Environment="SOLANA_METRICS_CONFIG='host=https://metrics.solana.com:8086,db=tds,u=tds_writer,p=dry_run'"
ExecStart=/root/.local/share/solana/install/active_release/bin/solana-validator \
--wait-for-supermajority 46765918 \
--expected-bank-hash J9A2YBpoJbCSSiF8eeYD4yt41wPT5MCNSJzgQexGLbF1 \
--expected-shred-version 40443 \
--hard-fork 46765918 \
--hard-fork 46765918 \
--entrypoint 35.203.170.30:8001 \
--rpc-bind-address 127.0.0.1 \
--trusted-validator 5D1fNXzvv5NjV1ysLjirC4WY92RNsVH18vjmcszZd8on \
--expected-genesis-hash 4uhcVJyU9pJkvQyS88uRDiswHXSCkY3zQawwpjk2NsNY \
--no-snapshot-fetch \
--no-check-vote-account \
--no-untrusted-rpc \
--limit-ledger-size 50000000 \
--identity /root/solana/validator-keypair.json        \
--vote-account /root/solana/vote-account-keypair.json \
--ledger /root/solana/validator-ledger \
--rpc-port 8899 \
--log -
  

[Install]
WantedBy=multi-user.target
